<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="page">
        <div class="container">
            <div class="left left1"> 
                <div class="login">You have successfully registered, <%= name %>!</div>
                <div class="eula">
                    <a class="anchor" href="/login">continue to login...</a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>